        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        background-color: #ffffff;
        color: #111;
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        background: transparent;
        transition: background 0.3s ease;
    }


        .top-banner {
            color: rgb(0, 0, 0);
            padding: 14px 0;
            text-align: center;
            font-size:clamp(1.5rem , 3.5vw , 4vw) ;
            font-weight: 700;
        }

        nav {
            display: flex;
            width: 100%;
            padding: 1.2rem 2.5rem;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .logo {
            text-decoration: none;
            color: #000000;
            font-size: 1.5rem;
            font-weight: 600;
            z-index: 1001;
        }
        ul {
            list-style: none;
        }

        .nav-links {
            display: flex;
            gap: 32px;
        }

        .nav-links li {
            color: #000000;
            font-size: 1rem;
        }

        .nav-links a {
            text-decoration: none;
            color: #000000;
            font-size: 12px;
            letter-spacing: 1.2px;
            font-weight: 400;
            transition: color 0.3s;
            position: relative;
            text-transform: uppercase;
        }
     .nav-links a:hover {
            color: #262626;
        }

        .nav-icons {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            position: relative;
            z-index: 1001;
        }

        .nav-icons button {
            border: none;
            padding: 5px;
            outline: none;
            background: none;
            cursor: pointer;
            display: flex;
            align-items: center;
        }


        .nav-icons svg {
            height: 22px;
            width: 22px;
            stroke: #000000;
            stroke-width: 2;
            fill: none;
        }

            input{
            width: 0;
            outline: none;
            border: none;
            background-color: #e0e0e0;
            padding: 0.4rem 1rem;
            border-radius: 18px;
            opacity: 0;
            transition: all 0.4s ease;
        }

        input.input-open{
            opacity: 1;
            width: 250px;
        }

        .account {
            position: absolute;
            top: 100%;
            right: -20%;
            max-width: 250px;
            width: 200px;
            display: flex;
            height: 0;
            overflow: hidden;
            flex-direction: column;
            z-index: 99999;
            transition: all 0.5s ease;
            background: rgb(60, 60, 60);
            border-radius: 18px;
        }
        .account-padding{
            padding: 1.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

        }

    .account a {
            text-decoration: none;
            color: #ffffff;
        }

        .account a:hover {
            text-decoration: underline;
            color: #d9d9d9;

        }

        .account.open {
            display: flex;
            height: 160px;
        }

          .mega-menu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            border-top: 1px solid #cfcfcf;
            padding: 0 40px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            z-index: 1000;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, padding 0.4s ease-in-out;
            display: flex;
        }

        .mega-menu.active {
            max-height: 90vh;
            min-height: 40vh;
            opacity: 1;
            padding: 40px;
        }

    .mega-column {
            flex: 1;
            padding: 0 30px;
        }

        .mega-column h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #333;
        }