        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        background-color: #ffffff;
        color: #111;
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        background: transparent;
        transition: background 0.3s ease;
    }