        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        background-color: #ffffff;
        color: #111;
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        background: transparent;
        transition: background 0.3s ease;
    }


        .top-banner {
            color: rgb(0, 0, 0);
            padding: 14px 0;
            text-align: center;
            font-size:clamp(1.5rem , 3.5vw , 4vw) ;
            font-weight: 700;
        }

        nav {
            display: flex;
            width: 100%;
            padding: 1.2rem 2.5rem;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .logo {
            text-decoration: none;
            color: #000000;
            font-size: 1.5rem;
            font-weight: 600;
            z-index: 1001;
        }
        ul {
            list-style: none;
        }

        .nav-links {
            display: flex;
            gap: 32px;
        }

        .nav-links li {
            color: #000000;
            font-size: 1rem;
        }

        .nav-links a {
            text-decoration: none;
            color: #000000;
            font-size: 12px;
            letter-spacing: 1.2px;
            font-weight: 400;
            transition: color 0.3s;
            position: relative;
            text-transform: uppercase;
        }
     .nav-links a:hover {
            color: #262626;
        }

        .nav-icons {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            position: relative;
            z-index: 1001;
        }

        .nav-icons button {
            border: none;
            padding: 5px;
            outline: none;
            background: none;
            cursor: pointer;
            display: flex;
            align-items: center;
        }