/* @font-face {
    font-family: klein;
    src: url("fonts/Klein-75Bold-Web.ttf");
    src: url("fonts/Klein-65Medium-Web.ttf");
    src: url("fonts/Klein-55Regular-Web.ttf");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
    /* font-family: klein, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
}

header{
    width: 100%;
}

.top-banner {
    background: #2d2d2d;
    color: white;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
}

nav{
display: flex;
width: 100%;
padding: 1.2rem 2.5rem;
justify-content: space-between;
align-items: center;
position: relative;
}

.logo{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links li{
    color: #333;
    font-size: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s;
    position: relative;
}

.nav-links a:hover {
    color: #d32f2f;
}

.nav-links a.sale {
    color: #d32f2f;
}

.nav-icons{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-icons button{
    border: none;
    padding: 5px;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-icons svg {
    height: 22px;
    width: 22px;
    stroke: #333;
    stroke-width: 2;
    fill: none;
}

    .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #e0e0e0;
    padding: 0 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, padding 0.4s ease-in-out;
    display: flex;
    }

    .mega-menu.active {
    max-height: 90vh;
    min-height: 40vh;
    opacity: 1;
    padding: 40px;
    }


.mega-column {
    flex: 1;
    padding: 0 30px;
}

.mega-column h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.mega-column ul li {
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;

}

.mega-column ul li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}



.mega-column ul li a:hover {
    color: #d32f2f;
}






